data/**/*.pcap
data/**/*.csv
data/**/*.html
data/**/*.pdf
data/**/*.png
data/**/*.txt
data/**/*.jpg
.DS_Store
.RData
.Rhistory
.idea
cmake-build-*
.Rproj.user
*.Rproj
ext/include
.vscode
#!data/**/*.Rmd
#!data/**/*.R
build/
zoom_testbed/barcode_debug_images/
zoom_testbed/qrcode_debug_images/
zoom_testbed/network_cap/
zoom_testbed/raw_video/
zoom_testbed/ssim_csv/
zoom_testbed/zoom_settings/
webrtc_testbed/5g_ULtest_scripts/data/
*.zpkt
*.dciLog
stats-screenshots/
